.app {
  box-sizing: border-box;
}
:global{
  body{
    margin:0;
  }
}
.task {
  border: solid 1px black;
  display: flex;
  text-decoration: none;
  min-height: 50px; 
  &__type {
    margin: 0 10px;
  }
  &__title {

  }
  &_isDraging {
    opacity: 0.2;
    border: dotted 1px black;
  }
}
.head{
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  height: 40px;
  &__textField{
    font-size: 20px;
  }
}