.app {
  box-sizing: border-box;
}
:global{
  body{
    margin:0;
  }
}
.task {
  border: solid 1px black;
  display: flex;
  text-decoration: none;
  &__type {
    margin: 0 10px;
  }
  &__title {

  }
  &_complete {
    text-decoration: line-through;
  }
}
.head{
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  height: 40px;
  &__textField{
    font-size: 20px;
  }
}